<article class="post-preview">
  <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="post-title">{{ post.title }}</h2>
    <div class="post-meta">{{ post.category }}</div>
    {% if post.subtitle %}
    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
    {% else %}
    <h3 class="post-subtitle">
      {{ post.excerpt | strip_html | truncatewords: 15 }}
    </h3>
    {% endif %}
  </a>
  <div class="post-meta">
    {% if post.author %}<img
      src="{{ post.profile }}"
      class="profile"
      alt="{{ post.author }}"
    />
    {{ post.author }}{% else %}<img
      src="{{ site.profile }}"
      class="profile"
      alt="site.author"
    />
    <p>
      {{ site.author }}{% endif %} &middot; {{ post.date | date: '%d.%m.%Y' }}
      &middot; {% include read_time.html content=post.content %}
    </p>
  </div>
</article>

<hr />
