---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col">

      {{ content }}

      <!-- Home Post List -->
      <div class="home-post-list">
        <h1 class="home-post-heading">Die neusten Beiträge</h1>

        {% for post in site.posts limit : 3 %}
        {% include post_card.html %}
        {% endfor %}
  
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/blog" | relative_url }}">Alle Beiträge ansehen &rarr;</a>
        </div>
      </div>
    </div>
  </div>
</div>